.list {
  padding-left: 0.5em;
  width: 90%;
  margin: 0, auto;
}

.customButton {
  display: inline-block;
  float: right;
  margin-top: 1.25em;
  margin-right: 1em;
}

.redButton {
  font-size: 1.3em;
  height: 1.2em;
}
