.idInput {
  width: 50%;
}

.content {
  margin: auto;
  margin-left: 1em;
  margin-top: 3em;
}

.metaValue {
  margin-bottom: 1em;
}

.tagId {
  width: 30%;
  float: left;
}

.tagIdInput {
  display: inline-block;
}

.displayName {
  width: 30%;
  float: left;
}

.displayNameInput {
  display: inline-block;
}

.deleteButton {
  display: inline-block;
}

.addValue {
  display: inline-block;
}
