.list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 50vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: auto;
}

.customButton {
  display: inline-block;
  float: right;
  margin-top: 1.25em;
  margin-right: 1em;
}

.redButton {
  font-size: 1.3em;
  height: 1.2em;
}

.tag__item {
  margin: 0.7em auto;
}
