.search__input {
  width: 70%;
  height: 2em;
  margin: 0 auto;
  outline-width: 0;
  outline: none !important;
  padding:6px 15px 6px 60px;
  background: url('./assets/search.png') no-repeat 8px 5px;
  background-size: 2em 2em;
}
