.ui {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
  margin-right:-4px;
}

.createTag {
  left: 0;
}

.searchPaneContainer {
  border-right: 1px solid #d3d3d3
}

div[class*='col'] {
  height:1vh;
  display: table-cell;
  float: none;
}

.linkedTitle {
  margin-bottom: 3.05em;
}

.row {
 display: table;
 width: 100%
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #303030;
}

.tagContentTitle {
  margin-bottom: 2.23em;
}

.tagContentWithoutButton {
  margin-bottom: 0.5em;
}

.searchTagTitle {
  margin-bottom: 0.5em;
}

.navbar {
  margin-bottom: 0;
}

.navi {
  background-color: #303030;
}

.newTagButton {
  margin-bottom: 1em;
}

.numoTitle {
  color: #B5B5B5;
  margin-top: 10px;
}

.numoTitle:hover {
  color: #ffffff;
}

.problems {
  margin: auto;
  width: 80%;
  text-align: center;
}

.save {
  padding: 0.8em;
}

.saveButton {
  margin: 0.6em;
}
